
page-home {

    * {
      box-sizing: border-box;
      position: relative;
    }

    .circle {
      position: relative;
      display: inline-block;
      width: 55px;
      height: 55px;
      padding: 20px 0;
      border-radius: 50%;
      border: 1px solid #9c9c9c;
      color: #9c9c9c;
      font-size:100%;
      text-align: center;
    }

    ion-content {
      font-family: 'Montserrat', sans-serif;
      color: #9c9c9c !important;
    }

    h1 {
      font-size: 160%;
      margin-top: 0px;
    }

    ion-grid {
      height: 100%;
    }

    ion-row {
      text-align: center;
    }

    #menubottom {
      height: 8vh;
      position: fixed; width:100%; bottom:0px;border-top:1px solid #cecece;vertical-align:top ;
    }

    #categorytab {
      padding:12px;font-size:140%;background-color:#8bb2c6;color:#fff;height:100%;
    }

    #fonttab {
      padding:12px;font-size:140%;background-color: #e8e5e5;height:100%;text-decoration: line-through;
    }

    #palletetab {
      padding:12px;font-size:140%;background-color: #e8e5e5;height:100%;text-decoration: line-through;
    }

    .progress-outer {
        width: 86%;
        margin: 10px 2;
        margin-left:auto;
        margin-right: auto;
        padding: 3px;
        text-align: center;
        background-color: #f4f4f4;
        border: 1px solid #dcdcdc;
        color: #fff;
        border-radius: 20px;
    }

    #savethemesbookmark {
      background-color:#abbc89;z-index: 6;color:white;position:fixed;left:20px;top:0px;padding:10px;
    }

    #instructformat {
      font-family: 'La Belle Aurore', cursive;font-size:180%;
    }

    #instructrow {
      width:100%; text-align:center; padding-top:20px;height:15vh;margin:5px;font-style: italic;
    }

    .imagerow {
      margin-bottom:5px;
    }

    .titlerow {
      height:5vh; margin-bottom:15px;font-size:80%;
    }

    .progress-inner {
        min-width: 5%;
        white-space: nowrap;
        overflow: hidden;
        padding: 5px;
        border-radius: 20px;
        background-color:gray;
    }

    img {
      height: 15vw;
      max-height: 90px;
      object-fit: contain;
      overflow: hidden;
    }

    #logo {
      max-height: 140px;
    }

    ion-col {
      padding: 3px;
    }

    .vertical-align-content > *{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
    }

    .align-bottom {
      align-items: flex-end!important;
      align-content: flex-end!important;
    }

    .themeoptions {
      width: 100%;
      height: 100%;
    }



}

// page-home {
//
// * {
//   box-sizing: border-box;
//   position: relative;
// }
//
// .circle {
//   position: relative;
//   display: inline-block;
//   //width: 100%;
// //  height: 0;
//   width: 55px; //were 75 with 26 padding font-size 140%
//   height: 55px;
//   //margin: 2vw 5vw;
//   padding: 20px 0;
//   border-radius: 50%;
//   border: 1px solid #9c9c9c;
//   //background: #38a9e4;
//   color: #9c9c9c;
//   font-family: 'Josefin Slab', serif;
//   font-size:100%;
//   text-align: center;
// }
//
//     ion-content {
//       font-family: 'Josefin Slab', serif;
//       color: #9c9c9c !important;
//     }
//
//     h1 {
//       font-size: 160%;
//       margin-top: 0px;
//     }
//
//     ion-grid {
//       height: 100%;
//     }
//
//     ion-row {
//       text-align: center;
//     }
//
//     #hometop {
//       height: 30vh;
//     }
//
//     img {
//       height: 15vw;
//       max-height: 90px;
//       object-fit: contain;
//       overflow: hidden;
//
//
//     }
//
//     #logo {
//       max-height: 140px;
//     }
//
//     ion-col {
//       padding: 3px;
//     }
//
//     .vertical-align-content > *
// {
//      display: flex!important;
//      align-content: center!important;
//      align-items: center!important;
// }
//
// .align-bottom {
//   align-items: flex-end!important;
//   align-content: flex-end!important;
// }
//
// .themeoptions {
//   width: 100%;
//   height: 100%;
// }
//
//
//
// }
// >>>>>>> ae28ee429d8b33d1a53fc6b6265df2434a56a54d
