page-home {

* {
  box-sizing: border-box;
  position: relative;
}


    ion-content {
      font-family: 'Catamaran', sans-serif;
      color: #9c9c9c !important;
    }

    h1 {
      font-size: 160%;
      margin-top: 0px;
    }

    ion-grid {
      height: 100%;
    }

    ion-row {
      text-align: center;
    }

    #hometop {
      height: 40vh;
    }

    img {
      height: 15vw;
      max-height: 90px;
      object-fit: contain;
      overflow: hidden;


    }

    #logo {
      max-height: 140px;
    }

    ion-col {
      padding: 3px;
    }

    .vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}

.align-bottom {
  align-items: flex-end!important;
  align-content: flex-end!important;
}

.themeoptions {
  width: 100%;
  height: 100%;
}



}
