
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<ion-content no-padding>
  <div (click)="savedThemes()" style="background-color:#abbc89;z-index: 6;color:white;position:fixed;left:20px;top:0px;padding:10px;">saved themes
  </div>
  <ion-grid class="vertical-align-content" style="padding:0px;">

    <!-- <ion-row id="hometop" style="vertical-align:top ;">

      <ion-col col-4 (click)="navigateToHomePage()" style="border-left:2px solid #c9c9c9;border-bottom:2px solid #c9c9c9;padding:12.5px;border-top:2px solid #c9c9c9;font-size:140%;color: white;">
        <img  id=chosenTheme src= "assets/imgs/custom.png">
      </ion-col>
      <ion-col col-4 style="border-bottom:2px solid #c9c9c9;border-top:2px solid #c9c9c9;padding:20px;font-size:140%;color: white;background-color: #c9c9c9;">
        colors
      </ion-col>
      <ion-col col-4 style="border-bottom:2px solid #c9c9c9;border-top:2px solid #c9c9c9;border-right:2px solid #c9c9c9;padding:20px;font-size:140%;">
        fonts
      </ion-col>
    </ion-row> -->
    <ion-row style="width:100%; text-align:center; padding-top:20px;height:15vh;margin:5px;font-style: italic;">
      <ion-col col-12 style="padding:15px;padding-top:30px;">
        <span style="font-family: 'La Belle Aurore', cursive;font-size:180%;">choose four colors</span>
      </ion-col>
    </ion-row>
    <!-- <ion-row style="position:relative;">

      <ion-col col-3></ion-col>
      <ion-col col-2>
        <div class="circle" (click)="navigateToHomePage()" style="padding-top:11px !important;"><img  id=chosenTheme src= "assets/imgs/custom.png"></div>
      </ion-col>
      <ion-col col-2>
        <div class="circle" style="background-color:#9c9c9c; color:white;">colors</div>
      </ion-col>
      <ion-col col-2>
        <div class="circle">fonts</div>
      </ion-col>
      <ion-col col-3></ion-col>
      <div  style="width:100%; height:9vh; text-align:center; padding-top: 20px; font-size:140%">choose four colors</div>
    </ion-row> -->
    <br>
    <ion-row >
      <ion-col class = "col col-12" style="width:21%;border-bottom: 1px solid #cecece; padding-bottom: 10px;margin-bottom:40px;">reds</ion-col>
    </ion-row>
    <ion-row>
      <div style="width: 100%;">
        <div *ngFor="let color of reds" style="width:25%;float:left;height:90px; margin: auto;" >
              <div class="tear" (click) = "selectColor(color)" [id]="color" [style.background-color]="color" style="display:block !important;margin: 20px auto auto; padding:3px;"></div>
              <div class="" style="width: 25vw !important; height:100%; display:none;" (click)="selectColor(color)" id="{{color}}splat">
              </div>
        </div>
      </div>
    </ion-row>
    <br><br>
    <ion-row >
      <ion-col class = "col col-12" style="width:21%;border-bottom: 1px solid #cecece; padding-bottom: 10px;margin-bottom:40px;">oranges</ion-col>
    </ion-row>

    <ion-row>
      <div style="width: 100%;">
        <div *ngFor="let color of oranges; let i = index" style="height:90px;width:25%;float:left; margin: auto;" >
              <div class="tear" (click) = "selectColor(color)" [id]="color" [style.background-color]="color" style="display:block !important;margin: 20px auto auto; padding:3px;"></div>
              <div class="" style="width: 25vw !important; height:100%; display:none;" (click)="selectColor(color)" id="{{color}}splat">
                <div class="tear2"  [style.background-color]="color"  style="" > <p id="{{color}}tear" style="font-size:80%;transform:rotate(-135deg);"></p>
                </div>
              </div>
        </div>
      </div>
    </ion-row>
    <br><br>
    <ion-row >
      <ion-col class = "col col-12" style="width:21%;border-bottom: 1px solid #cecece; padding-bottom: 10px;margin-bottom:40px;">yellows</ion-col>
    </ion-row>
    <ion-row>
      <div style="width: 100%;">
        <div *ngFor="let color of yellows" style="width:25%;float:left; height:90px;margin: auto;" >
              <div class="tear" (click) = "selectColor(color)" [id]="color"[style.background-color]="color" style="display:block !important;margin: 20px auto auto; padding:3px;"></div>
              <div class="" style="min-width: 25% !important; height:100%; display:none;" (click)="selectColor(color)" id="{{color}}splat">
                <div class="tear2"  [style.background-color]="color"  style="margin:20px;margin-bottom:30px;" > <p id="{{color}}tear" style="font-size:80%;transform:rotate(-135deg);"></p>
                </div>
              </div>
        </div>
      </div>
    </ion-row>
    <br><br>
    <ion-row >
      <ion-col class = "col col-12" style="width:21%;border-bottom: 1px solid #cecece; padding-bottom: 10px;margin-bottom:40px;">greens</ion-col>
    </ion-row>
    <ion-row>
      <div style="width: 100%;">
        <div *ngFor="let color of greens" style="width:25%;float:left;height:90px; margin: auto;" >
              <div class="tear" (click) = "selectColor(color)" [id]="color" [style.background-color]="color" style="display:block !important;margin: 20px auto auto;padding:3px;"></div>
              <div class="" style="min-width: 25% !important;height:100%; display:none;" (click)="selectColor(color)" id="{{color}}splat">
                <div class="tear2"  [style.background-color]="color"  style="margin:20px;margin-bottom:30px;" > <p id="{{color}}tear" style="font-size:80%;transform:rotate(-135deg);"></p>
                </div>
              </div>
        </div>
      </div>
    </ion-row>
    <br><br>
    <ion-row >
      <ion-col class = "col col-12" style="width:21%;border-bottom: 1px solid #cecece; padding-bottom: 10px;margin-bottom:40px;">blues</ion-col>
    </ion-row>
    <ion-row>
      <div style="width: 100%;">
        <div *ngFor="let color of blues" style="width:25%;float:left;height:90px; margin: auto;" >
              <div class="tear" (click) = "selectColor(color)" [id]="color" [style.background-color]="color" style="display:block !important;margin: 20px auto auto; padding:3px;"></div>
              <div class="" style="min-width: 25% !important; height:100%; display:none;" (click)="selectColor(color)" id="{{color}}splat">
                <div class="tear2"  [style.background-color]="color"  style="margin:20px;margin-bottom:30px;" > <p id="{{color}}tear" style="font-size:80%;transform:rotate(-135deg);"></p>
                </div>
              </div>
        </div>
      </div>
    </ion-row>
    <br><br>
    <ion-row >
      <ion-col class = "col col-12" style="width:21%;border-bottom: 1px solid #cecece; padding-bottom: 10px;margin-bottom:40px;">purples</ion-col>
    </ion-row>
    <ion-row>
      <div style="width: 100%;">
        <div *ngFor="let color of purples" style="width:25%;float:left; height:90px;margin: auto;" >
              <div class="tear" (click) = "selectColor(color)" [id]="color" [style.background-color]="color" style="display:block !important;margin: 20px auto auto; padding:3px;"></div>
              <div class="" style="min-width: 25% !important; height:100%;  display:none;" (click)="selectColor(color)" id="{{color}}splat">
                <div class="tear2"  [style.background-color]="color"  style="margin:20px;margin-bottom:30px;" > <p id="{{color}}tear" style="font-size:80%;transform:rotate(-135deg);"></p>
                </div>
              </div>
        </div>
      </div>
    </ion-row>
    <br><br>
    <ion-row >
      <ion-col class = "col col-12" style="width:21%;border-bottom: 1px solid #cecece; padding-bottom: 10px;margin-bottom:40px;">pinks</ion-col>
    </ion-row>
    <ion-row>
      <div style="width: 100%;">
        <div *ngFor="let color of pinks" style="width:25%;float:left;height:90px; margin: auto;" >
              <div class="tear" (click) = "selectColor(color)"  [id]="color" [style.background-color]="color" style="display:block !important;margin: 20px auto auto; padding:3px;"></div>
              <div class="" style="min-width: 25% !important; height:100%;  display:none;" (click)="selectColor(color)" id="{{color}}splat">
                <div class="tear2"  [style.background-color]="color"  style="margin:20px;margin-bottom:30px;" > <p id="{{color}}tear" style="font-size:80%;transform:rotate(-135deg);"></p>
                </div>
              </div>
        </div>
      </div>
    </ion-row>
    <br><br>
    <ion-row >
      <ion-col class = "col col-12" style="width:21%;border-bottom: 1px solid #cecece; padding-bottom: 10px;margin-bottom:40px;">grays</ion-col>
    </ion-row>
    <ion-row>
      <div style="width: 100%;">
        <div *ngFor="let color of grays" style="width:25%;float:left;height:90px; margin: auto;" >
              <div class="tear" (click) = "selectColor(color)" [id]="color" [style.background-color]="color" style="display:block !important;margin: 20px auto auto; padding:3px;"></div>
              <div class="" style="min-width: 25% !important; height:100%; display:none;" (click)="selectColor(color)" id="{{color}}splat">
                <div class="tear2"  [style.background-color]="color"  style="margin:20px;margin-bottom:30px;" > <p id="{{color}}tear" style="font-size:80%;transform:rotate(-135deg);"></p>
                </div>
              </div>
        </div>
      </div>
    </ion-row>
    <br><br>
    <ion-row >
      <ion-col class = "col col-12" style="width:21%;border-bottom: 1px solid #cecece; padding-bottom: 10px;margin-bottom:40px;">creams</ion-col>
    </ion-row>
    <ion-row>
      <div style="width: 100%;">
        <div *ngFor="let color of creams" style="width:25%;float:left;height:90px; margin: auto;" >
              <div class="tear" (click) = "selectColor(color)" [id]="color" [style.background-color]="color" style="display:block !important;margin: 20px auto auto; padding:3px;"></div>
              <div class="" style="min-width: 25% !important; height:100%; display:none;" (click)="selectColor(color)" id="{{color}}splat">
                <div class="tear2"  [style.background-color]="color"  style="margin:20px;margin-bottom:30px;" > <p id="{{color}}tear" style="font-size:80%;transform:rotate(-135deg);"></p>
                </div>
              </div>
        </div>
      </div>
    </ion-row>
    <ion-row >
      <ion-col class = "col col-12" style="width:21%;border-bottom: 1px solid #cecece; padding-bottom: 10px;margin-bottom:40px;">browns</ion-col>
    </ion-row>
    <ion-row>
      <div style="width: 100%;">
        <div *ngFor="let color of browns" style="width:25%;float:left; height:90px;margin: auto;" >
              <div class="tear" (click) = "selectColor(color)" [id]="color" [style.background-color]="color" style="display:block !important;margin: 20px auto auto; padding:3px;"></div>
              <div class="" style="min-width: 25% !important; height:100%; display:none;" (click)="selectColor(color)" id="{{color}}splat">
                <div class="tear2"  [style.background-color]="color"  style="margin:20px;margin-bottom:30px;" > <p id="{{color}}tear" style="font-size:80%;transform:rotate(-135deg);"></p>
                </div>
              </div>
        </div>
      </div>
    </ion-row>
    <div style="height:7vh;"></div>
    <!-- <ion-row id="hometop" style="background-color: #f7f4f4;vertical-align:top ;border-top:2px solid #c9c9c9;border-bottom:2px solid #c9c9c9;">
      <ion-col col-4 (click)="navigateToHomePage()"  style=" padding:12.5px;font-size:140%;color: white;background-color: #c9c9c9;">
        <img  id=chosenTheme src= "assets/imgs/custom.png">
      </ion-col>
      <ion-col col-4 style="padding:20px;font-size:140%;color: white;background-color: #c9c9c9;">
        colors
      </ion-col>
      <ion-col col-4 style="padding:20px;font-size:140%;">
        fonts
      </ion-col>
    </ion-row> -->
    <ion-row id="hometop" style="position: sticky; width:100%; bottom:0px;vertical-align:top ;border-top:1px solid #d3d3d3 !important;">
      <!-- <ion-col col-3></ion-col> -->

      <ion-col col-4 (click)="navigateToHomePage()" style=" padding:15px;padding-top:13px;padding-bottom:3px;font-size:140%;background-color: #f7f4f4;height:100%;border-bottom:10px solid #8bb2c6;">
        <img style="height:20px;width:20px;"id=chosenTheme src= "assets/imgs/custom.png">
      </ion-col>
      <ion-col col-4 style="padding:12px;font-size:140%;background-color: #c1775d;color:white;height:100%;">
        colors
      </ion-col>
      <ion-col col-4 style="padding:12px;font-size:140%;background-color: #e8e5e5;height:100%;text-decoration: line-through;">
        fonts
      </ion-col>
    </ion-row>


  </ion-grid>


</ion-content>
