<ion-header>

</ion-header>

<ion-content padding>

  <ion-grid class="vertical-align-content">
    <ion-row style="position:relative;">

      <ion-col col-3></ion-col>
      <ion-col col-2>
        <div class="circle" (click)="navigateToHomePage()" style="padding-top:11px !important;"><img  id=chosenTheme src= "assets/imgs/custom.png"></div>
      </ion-col>
      <ion-col col-2>
        <div class="circle" style="background-color:#9c9c9c; color:white;">colors</div>
      </ion-col>
      <ion-col col-2>
        <div class="circle">fonts</div>
      </ion-col>
      <ion-col col-3></ion-col>
      <div  style="width:100%; height:10vw; text-align:center; padding-top: 20px; font-size:140%">choose four colors</div>
    </ion-row>
    <br><br>
    <ion-row >
      <ion-col class = "col col-12" style="width:21%;border-bottom: 2px solid #cecece; padding-bottom: 10px;margin-bottom:10px;">reds</ion-col>
    </ion-row>
    <ion-row>
      <div style="width: 100%;">
        <div *ngFor="let color of reds" style="width:25%;float:left;" >
              <div class="tear" (click) = "selectColor(color)" [id]="color" [style.background-color]="color" style="display:inline-block !important;margin:10px;"></div>
        </div>
      </div>
    </ion-row>
    <br><br>
    <ion-row >
      <ion-col class = "col col-12" style="width:21%;border-bottom: 2px solid #cecece; padding-bottom: 10px;margin-bottom:10px;">oranges</ion-col>
    </ion-row>
    <ion-row>
      <div style="width: 100%;">
        <div *ngFor="let color of oranges" style="width:25%;float:left;" >
              <div class="tear" (click) = "selectColor(color)" [id]="color" [style.background-color]="color" style="display:inline-block !important;margin:10px;"></div>
        </div>
      </div>
    </ion-row>
    <br><br>
    <ion-row >
      <ion-col class = "col col-12" style="width:21%;border-bottom: 2px solid #cecece; padding-bottom: 10px;margin-bottom:10px;">yellows</ion-col>
    </ion-row>
    <ion-row>
      <div style="width: 100%;">
        <div *ngFor="let color of yellows" style="width:25%;float:left;" >
              <div class="tear" (click) = "selectColor(color)" [id]="color"[style.background-color]="color" style="display:inline-block !important;margin:10px;"></div>
        </div>
      </div>
    </ion-row>
    <br><br>
    <ion-row >
      <ion-col class = "col col-12" style="width:21%;border-bottom: 2px solid #cecece; padding-bottom: 10px;margin-bottom:10px;">greens</ion-col>
    </ion-row>
    <ion-row>
      <div style="width: 100%;">
        <div *ngFor="let color of greens" style="width:25%;float:left;" >
              <div class="tear" (click) = "selectColor(color)" [id]="color" [style.background-color]="color" style="display:inline-block !important;margin:10px;"></div>
        </div>
      </div>
    </ion-row>
    <br><br>
    <ion-row >
      <ion-col class = "col col-12" style="width:21%;border-bottom: 2px solid #cecece; padding-bottom: 10px;margin-bottom:10px;">blues</ion-col>
    </ion-row>
    <ion-row>
      <div style="width: 100%;">
        <div *ngFor="let color of blues" style="width:25%;float:left;" >
              <div class="tear" (click) = "selectColor(color)" [id]="color" [style.background-color]="color" style="display:inline-block !important;margin:10px;"></div>
        </div>
      </div>
    </ion-row>
    <br><br>
    <ion-row >
      <ion-col class = "col col-12" style="width:21%;border-bottom: 2px solid #cecece; padding-bottom: 10px;margin-bottom:10px;">purples</ion-col>
    </ion-row>
    <ion-row>
      <div style="width: 100%;">
        <div *ngFor="let color of purples" style="width:25%;float:left;" >
              <div class="tear" (click) = "selectColor(color)" [id]="color" [style.background-color]="color" style="display:inline-block !important;margin:10px;"></div>
        </div>
      </div>
    </ion-row>
    <br><br>
    <ion-row >
      <ion-col class = "col col-12" style="width:21%;border-bottom: 2px solid #cecece; padding-bottom: 10px;margin-bottom:10px;">pinks</ion-col>
    </ion-row>
    <ion-row>
      <div style="width: 100%;">
        <div *ngFor="let color of pinks" style="width:25%;float:left;" >
              <div class="tear" (click) = "selectColor(color)"  [id]="color" [style.background-color]="color" style="display:inline-block !important;margin:10px;"></div>
        </div>
      </div>
    </ion-row>
    <br><br>
    <ion-row >
      <ion-col class = "col col-12" style="width:21%;border-bottom: 2px solid #cecece; padding-bottom: 10px;margin-bottom:10px;">grays</ion-col>
    </ion-row>
    <ion-row>
      <div style="width: 100%;">
        <div *ngFor="let color of grays" style="width:25%;float:left;" >
              <div class="tear" (click) = "selectColor(color)" [id]="color" [style.background-color]="color" style="display:inline-block !important;margin:10px;"></div>
        </div>
      </div>
    </ion-row>
    <br><br>
    <ion-row >
      <ion-col class = "col col-12" style="width:21%;border-bottom: 2px solid #cecece; padding-bottom: 10px;margin-bottom:10px;">creams</ion-col>
    </ion-row>
    <ion-row>
      <div style="width: 100%;">
        <div *ngFor="let color of creams" style="width:25%;float:left;" >
              <div class="tear" (click) = "selectColor(color)" [id]="color" [style.background-color]="color" style="display:inline-block !important;margin:10px;"></div>
        </div>
      </div>
    </ion-row>
    <ion-row >
      <ion-col class = "col col-12" style="width:21%;border-bottom: 2px solid #cecece; padding-bottom: 10px;margin-bottom:10px;">browns</ion-col>
    </ion-row>
    <ion-row>
      <div style="width: 100%;">
        <div *ngFor="let color of browns" style="width:25%;float:left;" >
              <div class="tear" (click) = "selectColor(color)" [id]="color" [style.background-color]="color" style="display:inline-block !important;margin:10px;"></div>
        </div>
      </div>
    </ion-row>


  </ion-grid>


</ion-content>
