

<ion-content no-padding>
  <div (click)="navigateToHomePage()" style="background-color:#d3d3d3;z-index: 6;color:white;position:fixed;left:20px;top:0px;padding:10px;">back
  </div>
  <ion-grid class="vertical-align-content" style="padding:5px;height:14%;">

    <ion-row style="width:100%; text-align:center; height:8vh;margin:5px;font-style: italic;">
      <ion-col col-12 style="padding:20px;font-size:140%;">
        your saved themes
      </ion-col>
    </ion-row>

    <!-- <ion-row *ngFor="let theme of savedThemes; let i = index" >
        <ion-col col-11>
          <button ion-button block style="height:8.6rem;"  >
            {{theme.name}}
          </button>
        </ion-col>
        <ion-col col-1><button ion-button color="danger" block style="height:8.6rem;" >
          X
        </button></ion-col>
      </ion-row> -->
  </ion-grid>
  <div *ngFor="let theme of savedThemes; let i = index" style="height:30vh;margin-bottom:5vh;">
      {{theme.name}}<hr><br><br>

          <div class="tear" [style.background-color]="theme.color1" style="display:inline-block !important;"></div>
          <div class="tear" [style.background-color]="theme.color2" style="display:inline-block !important;"></div>
          <div class="tear" [style.background-color]="theme.color3" style="display:inline-block !important;"></div>
          <div class="tear" [style.background-color]="theme.color4" style="display:inline-block !important;"></div>
          <br>
          <h1 [style.font-family]="theme.font1">{{theme.font1}}</h1>
          <h2 [style.font-family]="theme.font2">{{theme.font2}}</h2>

  </div>

</ion-content>
