
page-saved {

        ion-grid {
          height: 100%;
        }

        ion-row {
          height: 10%;
          text-align: center !important;
        }

        #backbutton {
          background-color:#abbc89;z-index: 6;color:white;position:fixed;left:20px;top:0px;padding:10px;
        }

        ion-content {
          font-family: 'Montserrat', sans-serif;
          color: #9c9c9c !important;
          font-size: 100%;
          text-align: center;
        }

        #inforow {
          width:100%; text-align:center; padding-top:20px;height:15vh;margin:5px;font-style: italic;
        }

        #formatinfo {
          font-family: 'La Belle Aurore', cursive;font-size:180%;
        }

        .circle {
          position: relative;
          display: inline-block;
          width: 55px;
          height: 55px;
          padding: 20px 0;
          border-radius: 50%;
          border: 1px solid #9c9c9c;
          color: #9c9c9c;
          font-family: 'Josefin Slab', serif;
          font-size:100% !important;
          text-align: center;
        }


        #chosenTheme {
          width: 30px;
          height: 30px;
        }

        #email {
          color:#cecece;font-size:80%;
        }

        .gray {
          color:#cecece;
        }

        #savedDiv {
          height:auto;min-height:47vh;margin-bottom:5vh;background-color: #f7f4f4;padding-top:15px;
        }

        #delete {
          color:#f7a0a0;font-size:80%;
        }

        .tear {
          display: inline-block;
          display:inline-block !important;
          transform: rotate(-45deg);
          background-color: green;
          width: 30px;
          height: 30px;
          border-top-left-radius: 50%;
          border-bottom-left-radius: 50%;
          border-bottom-right-radius: 50%;
        }


      .tear3 {
        display: inline;
        transform: rotate(135deg);
        background-color: green;
        width: 14px;
        //margin: 30px;
        height: 14px;
        border-top-left-radius: 50%;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
        color: white;
        text-align: center;
      }

      .vertical-align-content > *{
       display: flex!important;
       align-content: center!important;
       align-items: center!important;
     }


}
