// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.redText {

  button {
      color: red !important; // button text color
      margin: 35px !important;
  }
}

.grayText {
  font-family: 'Montserrat', sans-serif;
  text-align: center !important;
  h2 {
      color: #8c8c8c;
      text-align: center;
      font-family: 'La Belle Aurore', cursive;
      font-size:180% !important;
  }
  button {
      margin: 5px auto !important;
      color:#9c9c9c !important;
  }
}


// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Alegreya|Archivo+Black|Arvo|Averia+Libre|Baloo+Tammudu|Barrio|Bitter|Bungee+Inline|Bungee+Outline|Cabin+Sketch|Catamaran:100|Cookie|Domine|EB+Garamond|Electrolize|Fredericka+the+Great|Frijole|Fugaz+One|Hanalei+Fill|IM+Fell+English+SC|Inconsolata|Josefin+Sans|Josefin+Slab|Karla|Kosugi+Maru|Kreon|Lato|Libre+Barcode+39+Text|Lily+Script+One|Lobster|Londrina+Outline|Lustria|Megrim|Merriweather|Molengo|Monofett|Monoton|Montserrat|Muli|Nanum+Gothic|Nixie+One|Oleo+Script|Open+Sans|Oswald|Overpass|Ovo|PT+Sans|Pacifico|Passion+One|Playfair+Display|Poiret+One|Raleway|Righteous|Roboto|Roboto+Condensed|Roboto+Mono|Roboto+Slab|Ruslan+Display|Rye|Sacramento|Sail|Shrikhand|Source+Sans+Pro|Space+Mono|Special+Elite|Ubuntu+Mono|VT323|Vast+Shadow|Walter+Turncoat|Zilla+Slab+Highlight');

//for testing out fonts on main page -emma
@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|Assistant|Averia+Libre|Averia+Serif+Libre|Delius|Inconsolata|La+Belle+Aurore|Miriam+Libre|Molengo|Montserrat|Mukta+Malar|Noto+Serif+KR|Rambla|Rosario|Special+Elite|Vibur');
/*
font-family: 'Catamaran', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Sail', cursive;
font-family: 'Space Mono', monospace;
font-family: 'Overpass', sans-serif;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Domine', serif;
font-family: 'Inconsolata', monospace;
font-family: 'Playfair Display', serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Cookie', cursive;
font-family: 'Poiret One', cursive;
font-family: 'EB Garamond', serif;
font-family: 'Cabin Sketch', cursive;
font-family: 'Vast Shadow', cursive;
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Open Sans', sans-serif;
font-family: 'Hanalei Fill', cursive;
font-family: 'Karla', sans-serif;
font-family: 'Averia Libre', cursive;
font-family: 'Bungee Inline', cursive;
font-family: 'Bungee Outline', cursive;
font-family: 'Electrolize', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Alegreya', serif;
font-family: 'Sacramento', cursive;
font-family: 'IM Fell English SC', serif;
font-family: 'Londrina Outline', cursive;
font-family: 'Bitter', serif;
font-family: 'Oswald', sans-serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Fredericka the Great', cursive;
font-family: 'Megrim', cursive;
font-family: 'Barrio', cursive;
font-family: 'Roboto Mono', monospace;
font-family: 'Kosugi Maru', sans-serif;
font-family: 'Libre Barcode 39 Text', cursive;
font-family: 'Ubuntu Mono', monospace;
font-family: 'Zilla Slab Highlight', cursive;
font-family: 'Monofett', cursive;
font-family: 'Archivo Black', sans-serif;
font-family: 'Oleo Script', cursive;
font-family: 'Shrikhand', cursive;
font-family: 'Lily Script One', cursive;
font-family: 'Molengo', sans-serif;
font-family: 'Arvo', serif;
font-family: 'Lato', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Lustria', serif;
font-family: 'Nixie One', cursive;
font-family: 'Walter Turncoat', cursive;
font-family: 'Kreon', serif;
font-family: 'Baloo Tammudu', cursive;
font-family: 'Lobster', cursive;
font-family: 'Fugaz One', cursive;
font-family: 'Frijole', cursive;
font-family: 'Ovo', serif;
font-family: 'Muli', sans-serif;
font-family: 'Ruslan Display', cursive;
font-family: 'Monoton', cursive;
font-family: 'VT323', monospace;
font-family: 'Rye', cursive;



















// Font Variables
$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;

// Styles
body {
  font-family: $body-font;
  font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
  font-family: $header-font;
  font-weight: normal;
}

.button {
  font-family: $roboto-slab;
  font-weight: bold;
}

*/
