

<ion-content no-padding>

  <!-- BOOKMARK TO GO TO SAVED THEMES PAGE -->
  <div (click)="savedThemes()">saved themes
  </div>
  <ion-grid class="vertical-align-content" style="padding:0px;">

    <!-- PAGE INSTRUCTIONS -->
    <ion-row id=instructrow>
      <ion-col col-12 style="padding:15px;padding-top:30px;">
        <span id=formatinstruct>choose a palette</span>
      </ion-col>
    </ion-row>


    <ion-row (click)="navigateToFontPage(p1)" style="padding:20px;">
      <ion-col class = "col col-16 palettebox">palette #1 </ion-col>
      <div *ngFor="let color of p1"  class="palettediv" style="border-top: 1px solid #cecece;">
          <ion-col class="col">
            <div class="tear" [style.background-color]="color" style="display:inline-block !important;"></div>
            <br><br>{{color}}
          </ion-col>
      </div>
    </ion-row>
    <ion-row (click)="navigateToFontPage(p2)"  style="padding:20px;">
      <ion-col class = "col col-16 palettebox">palette #2 </ion-col>
      <div *ngFor="let color of p2" class="palettediv">
          <ion-col class="col" style="">
            <div class="tear" [style.background-color]="color" style="display:inline-block !important;"></div>
            <br><br>{{color}}
          </ion-col>
      </div>
    </ion-row>
    <ion-row (click)="navigateToFontPage(p3)"  style="padding:20px;">
      <ion-col class = "col col-16 palettebox">palette #3 </ion-col>
      <div *ngFor="let color of p3"  class="palettediv">
          <ion-col class="col">
            <div class="tear" [style.background-color]="color" style="display:inline-block !important;"></div>
            <br><br>{{color}}
          </ion-col>
      </div>
    </ion-row>
    <ion-row (click)="navigateToFontPage(p4)"  style="padding:20px;">
      <ion-col class = "col col-16 palettebox">palette #4 </ion-col>
      <div *ngFor="let color of p4"  class="palettediv">
          <ion-col class="col">
            <div class="tear" [style.background-color]="color" style="display:inline-block !important;"></div>
            <br><br>{{color}}
          </ion-col>
      </div>
    </ion-row>

    <ion-row id="menubottom">
      <ion-col col-4 (click)="navigateToHomePage()" id=categorytab>
        <img style="height:20px;width:20px;"id=chosenTheme [src]= "theme">
      </ion-col>
      <ion-col col-4 id=palletetab>
        colors
      </ion-col>
      <ion-col col-4 id=fonttab>
        fonts
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
