page-palette {

    ion-grid {
      height: 100%;
    }

    ion-row {
      height: 20%;
      text-align: center;
    }

    

    .vertical-align-content > *
{
     display: flex!important;
     align-content: center!important;
     align-items: center!important;
}



}
