

<ion-content no-padding>

    <!-- BOOKMARK FOR GOING TO SAVED THEMES PAGE -->
    <div (click)="savedThemes()" id=savedthemesbookmark>saved themes</div>
    <ion-grid style="padding:0px;">


        <!-- INSTRUCTIONS FOR THE PAGE -->
        <ion-row id=instructionrow>
            <ion-col col-12 style="padding:15px;padding-top:30px;">
                <span id=formattedinstructions>choose custom fonts</span>
            </ion-col>
        </ion-row>
        <br>


        <!-- ERROR MESSAGE IF TRY TO CONTINUE WITHOUT SELECTIONS -->
        <div id = confirmError></div>



        <!-- CHOOSE HEADER FONT MATERIAL -->
        <button id=headerbutton (click)="showheaderDiv()">1<br><br>select header font</button>
        <div id = headerDiv>
            <ion-row *ngFor ="let font of headerfonts" (click)="headerfontClicked(font)" [id] = "font[0]" [style.font-family]= "font[1]" class="fontsToChooseFromRow">
                <h1 class=fontsToChooseFrom>
                    {{font[0]}}</h1>
            </ion-row>
        </div>
        <div id = showclickedheaderDiv></div>



        <!-- CHOOSE BODY FONT MATERIAL -->
        <button id=bodybutton  (click)="showbodyDiv()">2<br><br>select body font</button>
        <div id = bodyDiv>
            <ion-row *ngFor ="let font of bodyfonts" (click)="bodyfontClicked(font)"  [id] = "font[0]" [style.font-family]= "font[1]" class=fontsToChooseFromRow>
                <h1 class=fontsToChooseFrom>
                    {{font[0]}}</h1>
            </ion-row>
        </div>
        <div id = showclickedbodyDiv></div>


        <!-- BUTTON TO CONFIRM FONTS AND CONTINUE TO NEXT PAGE -->
        <button (click) ="confirm()" id=confirmButton>confirm selections</button>



        <!-- BOTTOM MENU -->
        <ion-row id="menubottom">
            <ion-col col-4 (click)="navigateToHomePage()" id=categorytab>
                     <img style="height:23px;width:23px;" [src]= "theme">
            </ion-col>
            <ion-col col-4 (click)="navigateToPalletePage()" id=palettetab>
                <div class="tear3 tearblock" [style.background-color]="color1"></div>
                <div class="tear3 tearblock" [style.background-color]="color2"></div>
                <div class="tear3 tearblock" [style.background-color]="color3"></div>
                <div class="tear3 tearblock" [style.background-color]="color4"></div>
            </ion-col>
            <ion-col col-4 id=fonttab>
                fonts
            </ion-col>
        </ion-row>




    </ion-grid>
</ion-content>
